<p id="notice"><%= notice %></p>

<p>
  <strong>Insert number below at the end of this url "http://localhost:3000/"</strong>
  <%= @link.in_url %>
</p>

<p>
  <strong>Redirected to:</strong>
  <%= @link.out_url %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
